*.o
.deps
*.in
*.a
Makefile
config.log
config.status
autom4te.cache
aclocal.m4
compile
configure
config.guess
config.sub
depcomp
install-sh
missing
mkinstalldirs
AUTHORS
COPYING
INSTALL
NEWS

src/converter/ayfly_converter
src/dumper/ayfly_dumper
src/gui/ayfly

*.sw?
